[Unit]
Description=Number Station Service
After=network.target

[Service]
Type=simple

User=$APP_NAME
Group=$APP_NAME

WorkingDirectory=/opt/$APP_NAME/src

ExecStart=/opt/$APP_NAME/venv/bin/gunicorn -w 1 -b 127.0.0.1:1337 '$APP_NAME:main()'
Restart=none

[Install]
WantedBy=multi-user.target
